*{
	font-family: "Poppins", sans-serif;
	margin:0;
	padding:0;
	scroll-padding-top: 2rem;
	scroll-behavior: :smooth;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}

:root{
	--main-color:#fd4646;
	--text-color:#171424;
	--bg-color:#fff;
}
body{
	color: var(--text-color);
	
}

.container{
	max-width: 1068px;
	margin:auto;
	width:100%;
}

header{
	display: flex;
	position:fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: var(--bg-color);
	box-shadow:0 1px 4px hsl(0 4% 15% / 10%);
	z-index:100;
}
.nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 0;
}


.link{
	border: none;
	background: none;
	text-decoration: none;
	color: black;
	font-family: inherit;
	font-size: inherit;
	cursor: pointer;
	padding: 0;

}

.link:hover{
color: black;
font-weight: bold;
}

.dropdown{
	position: relative;

}

 .dropdown > .link + .dropdown-menu{
 	display: none;
	position: absolute;
	z-index: 1;
	left: 0;
	top: calc(100% + .75rem);
	background-color: white ;
	padding: .75rem;
	border-radius: .25rem;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
	transition: 0.3sec

}
.dropdown > .link + .dropdown-menu.show {
 display: grid;
 grid-template-columns: repeat(2, max-content);
 gap: 2rem;
}

.dropdown-links{
	display: flex;
	flex-direction: column;
	gap: .25rem;
}

section{
	padding:4rem 10px 3rem;
	position: relative;
}


.product-cards{
	position: absolute;
  display:grid;
  font-family: sans-serif;
  background: #f2f2f2;
  margin-top: 20px;

 }


.gallery-1 img {
   width:100%;
  height:auto%;
  object-fit: cover;
}


.gallery-1{
  display: grid;
  width: 100%;

  grid-template-columns: repeat(4, 1fr); 
  grid-auto-rows: auto;
 
  grid-gap: 10px; 
}

@media only screen and (max-width: 600px) {
  .gallery-1{
    grid-template-columns: repeat(2, 1fr);
/*    gap: 10px; */

  }
}

@media only screen and (min-width: 1080px) {
  .gallery-1 {
    grid-template-columns: repeat(4, 1fr);

  }
}


.content h3{
  text-align: center;
  font-size: 18px;
  margin: 0;
  padding-top: 10px;
}
.content a{
  text-decoration: none;
}


.content{
  width: 100%;
/*  height:80%;*/
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
/*  padding-top: 10px;*/
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
  0 10px 10px rgba(0, 0, 0, 0.22);
  transition: 0.4s;
  background: #f2f2f2;

}
.content img{
  width: 100%;
/*  height: auto;*/
  object-fit: cover;
}
.content:hover{
  background: 0 3px 6px rgba(0, 0, 0, 0.16),
  0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translate(0px, -8px);
}


.content h6{
  font-size: 15px;
  text-align: center;
  color: #222f3e;
 margin:1px;
 padding: 10px;

}


.title{
	display: flex;
	justify-items: center;
	justify-content: center;
	margin-top: 10px;
}
.section-title{
	font-size: 1.75rem;
	font-weight: 600;
	text-align: center;
	margin-bottom: 1rem;
	padding: 10px;
	background-color: black;
	color: white;
	width: 300px;
	margin-top: 5px;
}


.content-btn{
/*	width: 150px;*/
	padding: 10px 15px;
	margin: 10px;
	background-color: black;
	color: white;
	font-size: 20px;
	font-weight: bold;
	border: none;
}
.content-btn:hover{
	cursor: pointer;
	background-color:gray;
/*	color: black;*/
}


@media (max-width: 1080px){
	.nav{
		padding: 15px;
	}
	section{
		padding: 3rem 0 2rem;
	}
	.container{
		margin: 0 auto;
		width: 90%;
	}
	.shop{
		margin-top: 2rem !important;
	}
}

@media (max-width: 400px){
	.nav{
		padding: 11px;
	}
	.logo{
		font-size: 1rem;
	}
	.cart{
		width: 320px;
	}
}
