*{
	font-family: "Poppins", sans-serif;
	margin:0;
	padding:0;
	scroll-padding-top: 2rem;
	scroll-behavior: :smooth;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}
:root{
	--main-color:#fd4646;
	--text-color:#171424;
	--bg-color:#fff;
}
img{
	width:100%;
}
body{
	color: var(--text-color);
}

.container{
	max-width: 1068px;
	margin:auto;
	width:100%;
}
section{
	padding:4rem 0 3rem;
}
header{
	display: flex;
	position:fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: var(--bg-color);
	box-shadow:0 1px 4px hsl(0 4% 15% / 10%);
	z-index: 100;
}
.nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 0;
}


.link{
	border: none;
	background: none;
	text-decoration: none;
	color: black;
	font-family: inherit;
	font-size: inherit;
	cursor: pointer;
	padding: 0;

}

.link:hover{
color: black;
font-weight: bold;
}

.dropdown{
	position: relative;

}

 .dropdown > .link + .dropdown-menu{
 	display: none;
	position: absolute;
	z-index: 1;
	left: 0;
	top: calc(100% + .75rem);
	background-color: white ;
	padding: .75rem;
	border-radius: .25rem;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
	transition: 0.3sec

}
.dropdown > .link + .dropdown-menu.show {
 display: grid;
 grid-template-columns: repeat(2, max-content);
 gap: 2rem;
}

.dropdown-links{
	display: flex;
	flex-direction: column;
	gap: .25rem;
}


.cart-el{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2px;
	padding: 1px;
	background-color: black;
/*	border:2px solid grey;*/
	box-shadow:0 1px 4px hsl(0 4% 15% / 10%);
	width: 65px;
	
}
#cart-icon{
	font-size: 1.8rem;
	cursor: pointer;
	color:whitesmoke;
}

#cart-count {
  background-color:  #ff0000; 
  border-radius: 50%; 
  color: #ffffff; 
  display: flex; 
 align-items: center;  
 justify-content: center; 
  font-size: 12px; 
  height: 20px; 
  width: 20px; 
  top: 15px; 
  right: 5px;
}

.cart{
	position: fixed;
	top: 0;
	right: -100%;
	width:360px;
	min-height: 100vh;
	padding: 20px;
	background: var(--bg-color);
	box-shadow: -2px 0 4px hsl(0 4% 15% / 10%);
	transition: 0.3s;
}
.cart.active {
	right: 0%;
	overflow-y: scroll;
	max-height: 300px;
}
.cart-title{
	text-align: center;
	font-size: 1.5rem;
	font-weight: 600;
	margin-top: 2rem;
}
.cart-box{
	display: grid;
	grid-template-columns: 32% 50% 18%;
	align-items: center;
	gap: 1rem;
	margin-top: 1rem;
}
.cart-img{
	width: 100px;
	height: 100px;
	object-fit: contain;
	padding: 10px;
}
.detail-box{
	display: grid;
	row-gap: 0.5rem;
}
.cart-product-title{
	font-size: 1rem;
	text-transform: uppercase;
}
.cart-price{
	font-weight: 500;
}
.cart-quantity{
	border:1px solid var(--text-color);
	outline-color: var(--main-color);
	width: 2.4rem;
	text-align: center;
	font-size: 1rem;
}
.cart-remove{
	font-size: 24px;
	color: var(--main-color);
	cursor: pointer;
}
.total{
	display: flex;
	justify-content: flex-end;
	margin-top:1.5rem;
	border-top: 1px solid var(--text-color);
}
.total-title{
	font-size: 1rem;
	font-weight: 600;
}
.total-price{
	margin-left: 0.5rem;
}
.sign-Up{
	display: flex;
	gap: 5px;
  align-items: center;
	justify-content: center;
	margin-top: 15px;
}


.btn-signout{
	display: flex;
	margin: 7px auto 15px auto;
	padding: 10px 20px;
	border: none;
	background:var(--main-color);
	color: var(--bg-color);
	font-size: 0.75rem;
	font-weight: 500;
	cursor: pointer;

}
.btn-signout:hover{
	background: var(--text-color);
}

.btn-signup{
	display: flex;
	margin: 7px auto 15px auto;
	padding: 10px 20px;
	border: none;
	background: #05e699;
	color: var(--bg-color);
	font-size: 0.75rem;
	font-weight: 500;
	cursor: pointer;	

}
.btn-signup:hover{
	background: black;
	color: white;
}

#sign-up-btn{
	display:block;
}
#sign-out-btn{
	display: none;
}
.signed{
	text-decoration: none;
}
.btn-buy{
	display: flex;
	margin: 1.5rem auto 0 auto;
	padding: 12px 20px;
	border: none;
	background: var(--main-color);
	color: var(--bg-color);
	font-size: 1rem;
	font-weight: 500;
	cursor: pointer;
}
.btn-buy:hover{
	background: var(--text-color);
}
#close-cart{
	position: absolute;
	top: 1rem;
	right: 0.8rem;
	font-size: 2rem;
	color: var(--text-color);
	cursor: pointer;
}
.shop .title{
	display: flex;
	align-items: center;
	justify-content: center;

}
.section-title{
	font-size: 1.75rem;
	font-weight: 600;
	text-align: center;
	margin-bottom: 1rem;
	padding: 10px;
/*	background-color: black;*/
border: 1px solid gray;
	color: black;
	width: 300px;
	margin-top: 5px;
}
.shop{
	margin-top:2rem;
}
.shop-content{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(220px, auto));
	gap: 1.5rem;
}
.product-box{
	position: relative;
}
.product-box:hover{
	padding: 10px;
	border: 1px solid var(--text-color);
	transition:0.4s;
}
.product-img{
	width:100%;
	height: auto;
	margin-bottom: 0.5rem;
}
.product-title{
	font-size: 1.1rem;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 0.5rem;
}
.price{
	font-weight: 500;
}
.add-cart{
	position: absolute;
	bottom: 0;
	right: 0;
	background: var(--text-color);
	color: var(--bg-color);
	padding:10px;
	cursor: pointer;

}
.add-cart:hover{
	background:hsl(249, 32%, 17%);
}

.modal {
  display: none;
  position: absolute;
  z-index: 200;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 10px;
  border: 1px solid #888;
  width: 80%;
  max-width: 500px;
}

.head-2{
	height: 40px;
	padding:3px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: black;
	color: whitesmoke;
	margin-bottom: 10px;
}
#okBtn2{
width: 40px;
border: none;
background: #4BF21C;
padding: 10px;
margin-top: 10px;
}
#cancelBtn2{
width: 60px;
border: none;
background: var(--main-color);
padding: 10px;
margin-top: 10px;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  padding-right: 8px;
}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}



.accord{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 15px 25px;
	border-top: 1px solid;
	padding:15px 10px

}
.accordion{
	width: 100%;
	background-color: black;
	padding: 30px;
	border-radius: 30px;
	color: white;	
}

.accordion .accordion-title{
	margin-bottom: 30px;
	text-align: center;
}

.accordion .content-container .question{
	padding: 18px 0px;
	font-size: 22px;
	cursor: pointer;
	border-bottom: 1px solid white;

	position: relative;
}

.accordion .content-container .question::after{
	content:"+";

	position: absolute;
	right: -5px;
}

.accordion .content-container .answer{
	padding-top: 15px;
	font-size: 22px;
	line-height: 1.5;
	width: 100%;

	height: 0px;
	overflow: hidden;
	transition: .5s;
}


.accordion .content-container.active .answer{
	height: 150px;
}

.accordion .content-container.active .question{
	font-size: 18px;
	transition: .5s;
}

.accordion .content-container.active .question::after{
	content: '-';
	font-size: 30px;
	transition: .5s;
}


@media (max-width: 1080px){
	.nav{
		padding: 15px;
	}
	section{
		padding: 3rem 0 2rem;
	}
	.container{
		margin: 0 auto;
		width: 90%;
	}
	.shop{
		margin-top: 2rem !important;
	}
}

@media (max-width: 400px){
	.nav{
		padding: 11px;
	}
	.logo{
		font-size: 1rem;
	}
	.cart{
		width: 320px;
	}
}
@media (max-width: 360px){
	.shop{
		margin-top: 1rem !important;
	}
	.cart{
		width: 280px;
	}
}
