.container {
	max-width: 400px;
	margin: 0 auto;
	text-align: center;
	padding-top: 50px;
}

h1 {
	font-size: 36px;
	margin-bottom: 30px;
}

label {
	display: inline-block;
	text-align: left;
	width: 100%;
	margin-bottom: 10px;
}

input {
	display: block;
	box-sizing: border-box;
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border: none;
	border-bottom: 1px solid #ccc;
}

button {
	background-color: #4CAF50;
	color: white;
	padding: 10px 20px;
	border: none;
	cursor: pointer;
	margin-bottom: 20px;
}
