*{
  font-family: "Poppins", sans-serif;
  margin:0;
  padding:0;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root{
  --main-color:#fd4646;
  --text-color:#171424;
  --bg-color:#fff;

}

body{
  color: var(--text-color);

}
.contained {
  max-width: 1080px;
 margin: auto;
  width:90%;
 }

header{
  display: flex;
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--bg-color);
  box-shadow:0 1px 4px hsl(0 4% 15% / 10%);
  z-index:100;
}
.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px;
}


.link{
  border: none;
  background: none;
  text-decoration: none;
  color: black;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  padding: 0;

}

.link:hover{
color: black;
font-weight: bold;
}

.dropdown{
  position: relative;

}

 .dropdown > .link + .dropdown-menu{
  display: none;
  position: absolute;
  z-index: 1;
  left: 0;
  top: calc(100% + .75rem);
  background-color: white ;
  padding: .75rem;
  border-radius: .25rem;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.2);
  transition: 0.3sec

}
.dropdown > .link + .dropdown-menu.show {
 display: grid;
 grid-template-columns: repeat(2, max-content);
 gap: 2rem;
}

.dropdown-links{
  display: flex;
  flex-direction: column;
  gap: .25rem;
}
/*
.maincontent{
 margin: 0 5px;
padding: 10px;
}*/

.feat{
/*  display: flex;*/
  max-width: 600px;
  margin-top: 60px;
 margin-left: auto;
  margin-right: auto;
  padding:60px 0px 0px;
  position: relative;
}

/*
.slide-show{
position: relative;
}*/
/* .main-carousel {
  width: 75%;
  margin: 0 auto;
      
}*/
 .carousel-cell {
  width: 100%;
  height: auto;
}
   

   .scroll{
  display: grid;
  margin-top: 50px;
}

.media-scroller{
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 25%;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
  gap:2px; 
  padding:0 2px 2px;
  scroll-snap-type: x mandatory; 
  scroll-snap-align: center;
  scroll-padding: 5px;
}

 .media-scroller img{
  scroll-snap-align: start;
}

.media-element{
  display: grid;
  gap: 2px;
  grid-template-rows: min-content;
 padding:2px;
 border-radius: 3px;
 box-shadow: 5px 5px 5px #ccc;

}
.media-element img {
  inline-size: 100%;
  aspect-ratio: 3/2;
  object-fit: cover;

}

.fashion{

  padding: 10px;

}


.add-on{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-left: 10px;
  margin-right: 10px;

}
.clothing-1{
   flex: 1 1 150px ;
  letter-spacing: 2px;
  text-align: center;
  background: black;
  color: white;
  font-size: 25px;
  padding: 5px;
  text-decoration: none;
}

.clothing-2{
   flex: 1 1 150px ;
  text-align: center;
  letter-spacing: 2px;
  background: red;
  color: white;
  font-size: 25px;
  padding: 5px;
  text-decoration: none;
}
.clothing-3{
   flex: 1 1 150px ;
  text-align: center;
  letter-spacing: 4px;
  background: brown;
  color: white;
  font-size: 25px;
  padding: 5px;
  text-decoration: none;
}


.title{
  display: flex;
  justify-items: center;
  justify-content: center;
  margin-top: 10px;
}
.section-title{
  font-size: 1.75rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 1rem;
  padding: 10px;
 border: 1px solid dimgray;
  color: black;
  max-width: 300px;
  margin-top: 5px;
}


.shop{
  margin-top:2rem;
  background-color: #EFEFEF;
  padding: 20px;
/*   box-shadow: 5px 5px 5px #ccc;*/
}
.shop-content{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, auto));
  gap: 1.5rem;
}

.product-box{
  position: relative;
}
.product-box:hover{
  padding: 10px;
  border: 1px solid var(--text-color);
  transition:0.4s;

}
.product-img{
  width:100%;
  height: auto;
  margin-bottom: 0.5rem;
}
.product-title{
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}
.price{
  font-weight: 500;
}
.shopnow{
  display: flex;
  margin: 7px auto 15px auto;
  padding: 10px 15px;
  border: none;
  background-color: black;
  color: var(--bg-color);
  font-size: 0.75rem;
  font-weight: 500;
  cursor: pointer;

}

.sign-Up{
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}


.btn-signout{
  display: flex;
  margin: 7px auto 15px auto;
  padding: 10px 20px;
  border: none;
  background:var(--main-color);
  color: var(--bg-color);
  font-size: 0.75rem;
  font-weight: 500;
  cursor: pointer;

}
.btn-signout:hover{
  background: var(--text-color);
}

.btn-signup{
  display: flex;
  margin: 7px auto 15px auto;
  padding: 10px 20px;
  border: none;
  background: #05e699;
  color: var(--bg-color);
  font-size: 0.75rem;
  font-weight: 500;
  cursor: pointer;  

}
.btn-signup:hover{
  background: black;
  color: white;
}

#sign-up-btn{
  display:block;
}
#sign-out-btn{
  display: none;
}
.signed{
  text-decoration: none;
}
.btn-buy{
  display: flex;
  margin: 1.5rem auto 0 auto;
  padding: 12px 20px;
  border: none;
  background: var(--main-color);
  color: var(--bg-color);
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}
.btn-buy:hover{
  background: var(--text-color);
}


.featured h3{
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 30px;
  padding-top: 10px;
margin-bottom: 0px;
  
}
.featured h3 span{
  color:red;
}


.product-cards{
  display:grid;
  font-family: sans-serif;
  background: #f2f2f2;
  padding: 6px;
 }


.gallery-1 img {
   width:100%;
  height:auto;
  object-fit: cover;
}


.gallery-1{
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr); 
  grid-auto-rows: auto;
  grid-gap: 5px; 
}

@media only screen and (max-width: 600px) {
  .gallery-1{
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;

  }
}

@media only screen and (min-width: 1200px) {
  .gallery-1 {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;

  }
}

.content h3{
  text-align: center;
  font-size: 18px;
  margin: 0;
  padding-top: 10px;
}
.content a{
  text-decoration: none;
}


.content{
  width: 100%;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  padding-top: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
  0 10px 10px rgba(0, 0, 0, 0.22);
  transition: 0.4s;
  background: #f2f2f2;

}
.content img{
  width: 100%;
  height: auto;
}
.content:hover{
  background: 0 3px 6px rgba(0, 0, 0, 0.16),
  0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translate(0px, -8px);
}


.content h6{
  font-size: 15px;
  text-align: center;
  color: #222f3e;
 margin:1px;
 padding: 10px;

}


.slidermain{
	width:100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #EFEFEF;
/*  box-shadow: 5px 5px 5px #ccc;*/
  padding-top: 20px;
  padding-bottom: 20px;
}

.slide-container{
	max-width:1120px;
	width: 100%;
	padding: 40px 0px;
}

.slide-content{
	margin: 0 40px;
	overflow: hidden;
	border-radius: 25px;

}
.card{
	border-radius: 25px;
	background-color: #FFF;
}

.image-content,
.card-content{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding:10px 14px;
}
.image-content{
	position: relative;
	row-gap: 5px;
	padding: 25px 0;

}
.overlay{
	position: absolute;
	left: 0;
	top:0;
	height: 100%;
	width: 100%;
	background-color: #05981d;
	border-radius: 25px 25px 0 25px;

}

.overlay::before,
.overlay::after{
	content: "";
	position: absolute;
	right: 0;
	bottom: -40px;
	height: 40px;
	width: 40px;
	background-color:#05981d;
}
.overlay::after{
	border-radius: 0 25px 0 0;
	background-color: #FFF;
}

.card-image{
	position: relative;
	width:150px;
	height: 150px;
	border-radius: 5%;
	background: #FFF;
	padding: 3px;
}
.card-image .card-img{
	height:100%;
	width: 100%;
	object-fit:cover;
	border-radius: 5%;
/*	border: 4px solid #4070F4;*/

}
.name{
	font-size: 18x;
	font-weight: 500;
	color:#333;
}
.description{
	font-size: 14px;
	color:#707070;
	text-align: center;
}
.button{
	border:none;
	font-size: 16px;
	color:#FFF;
	padding: 8px 16px;
	background-color:#05981d;
	border-radius: 6px;
	margin: 14px;
	cursor: pointer;
	transition: all 0.3s ease;
}
.button:hover{
	background: #08ed2d;

}

.swiper-navBtn{
	color: #6E93f7;
	transition: color 0.3s ease;
}

.swiper-navBtn:hover{
	color: #4070F4;
}

.swiper-navBtn::before,
.swiper-navBtn::after{
	font-size: 40px;
}
.swiper-button-next{
	right: 0;
}

.swiper-button-prev{
	left: 0;
}
.swiper-pagination-bullet{
	background-color: #6E93f7;
	opacity: 1;
}
.swiper-pagination-bullet-active{
	background-color: #4070F4;
}

@media screen and (max-width: 768px){
	.slide-content{
		margin: 0 10px;
	}
	.swiper-navBtn{
		display: none;
	}
}


.Link-social{
  display: flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}

#apklink{
  margin-top: 30px;
}

 #apklink .applink{
  background-color: #05981d;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

 #apklink .applink:hover{
  color: black;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),
        0 3px 6px rgba(0, 0, 0, 0.23);
        opacity: .6;

}

.socialLink .social-link{
  display: flex;
  align-items: center;
  margin:20px 10px;
/*  margin-bottom: 20px;*/
}

 .link-1 {
  padding: 15px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 10px;
  border-radius: 4px;
}

/* Add a hover effect if you want */
.social-link .fa:hover {
  opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-instagram {
 background:linear-gradient(to right,red,yellow);
  color: white;
}
.fa-youtube {
  background: red;
  color: white;
}


@media screen and (max-width: 360px){
    .contained{
    margin: auto;
    padding-right: 20px;
      width: 85%;
    }
    body{
      width: 95%
    }
     .feat{
      margin-top: 80px;
      padding-top: 20px;
      padding-left: 15px;
      padding-right: 15px;
    }
  
  }

@media screen and (min-width: 1200px){
    body{
      width: 100%;
    }
  }

